html {
    height: 100%;
}

body {
    height: 100%;
    /*background-image: url('./imgs/background.jpg');*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    background-color: #ddd;
}

.td-not-complete {
    margin-bottom: 20px;
}

.td-complete .list-group-item {
    background-color: #f0f0f0;
    text-decoration: line-through;
}

.list-group .list-group-item {
    font-size: 20px;
    position: relative;
}

.list-group .list-group-item i {
    position: absolute;
    padding: 16px;
    cursor: pointer;
    margin-left: -12px;
}

.list-group .list-group-item a {
    margin-left: 36px;
}

.td-delete {
    position: absolute;
    right: 0;
}

.container {
    position: relative;
}

.card-block .fa {
    position: absolute;
    left: 0;
    top: 3px;
    font-size: 1.5rem;
}

.card-title {
    padding-left: 15px;
}


/* ======== */
.app {
    background-color: #000;
    color: #fff;
    padding: 50px;
    text-align: center;
}

.app img {
    height: 100px;
}

.rotate {
    animation: spin 10s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
